@font-face {
  font-family: 'Neumatic-Gothic-Bold';
  src: url('../fonts/NeumaticGothic-Bold.eot');
  src: url('../fonts/NeumaticGothic-Bold.eot') format('embedded-opentype'),
    url('../fonts/NeumaticGothic-Bold.woff2') format('woff2'),
    url('../fonts/NeumaticGothic-Bold.woff') format('woff'),
    url('../fonts/NeumaticGothic-Bold.ttf') format('truetype');
//  src: url('#{$fa-font-path}/FontAwesome.otf') format('opentype'); // used when developing fonts
  font-weight: bold;
  font-style: normal;
}

@import "theme/theme_variables";  // <-------- Add your variables into this file. Also add variables to overwrite Bootstrap or UnderStrap variables here
@import "assets/bootstrap4";      // <-------- Loads Bootstrap4
@import "understrap/understrap";  // <-------- Loads the UnderStrap defaults. Just a few classes to incorporate BS in WP
// @import "understrap/woocommerce"; // <-------- Loads WooCommerce style fixes. Comment out if you aren't using WooCommerce

// Optional files - If you dont use the corresponding scripts/fonts comment em out
// @import "assets/font-awesome";    // <-------- Font Awesome Icon font

// Any additional imported files //
@import "theme/contact-form7";    // <-------- Contact Form 7 - Bootstrap 4 support

// Elements
@import "theme/_elements/common";
@import "theme/_elements/navbar";
@import "theme/_elements/jumbotron";
@import "theme/_elements/tabs";
@import "theme/_elements/text-icons";
@import "theme/_elements/img-text";
@import "theme/_elements/recent-news-blogs";
@import "theme/_elements/get-started-cta";
@import "theme/_elements/footer";

// Page Templates
@import "theme/_pages/home";