.error404 .sidebar-content {
	
	.search-wrap {
		h2 {
			font-size: 2rem;
			line-height: 1.25;
			margin-bottom: .55em;
		}
	}
	
	.get-started-cta {
    	margin-top: 2.05rem;
    }
    
    .helpful-links {
	    h2 {
		    margin-bottom: .45em;
	    }
	    .links-wrap {
		    max-width: 550px;
		    div {
			    padding-bottom: 1.1rem;
		    }
	    }
    }
    
}