.home {
	
	.s2 {
		padding-top: 4.7em;
		padding-bottom: 5em;
		
		.tab-content {
			margin-bottom: 1.15em;
		
			.tab-card {
								
				.inner {
					.top {
						border-bottom: 4px solid $secondary;
						.name {
							font-size: 48px;
							font-weight: bold;
							text-transform: uppercase;
							line-height: .791;
							margin-bottom: .3em;
						}
						.details {
							letter-spacing: -.2px;
							margin-bottom: .9em;
						}
					}	
					.bottom {
						padding-top: .5em;
						
						.rate {
							font-size: 80px;
							line-height: 1;
							font-weight: bold;
							color: $primary;
							padding-bottom: .15em;
							
							span {
								font-size: 50px
							}
							
							sup {
								position: relative;
							    top: -40px;
							    font-size: 24px;
							    font-weight: 400;
							    margin-left: 10px;
							}
							
						}
						.link-wrap {
							a {
								color: $secondary;
							}
						}
					}
				}
			}
			
		}
		
		.btn-wrap {
			padding-bottom: 1.25em;
		}
		
		.rate-expiration {
			color: $gray-text;	
		}
		
	}
	
	.s4 {
		padding-top: 6em;
		
		h2 {
			margin-bottom: 1.075em;
		}
		
		.check-list {
			
			.shadow-card {
				p {
					margin-bottom: .7em;
				}
				
				ul {
					margin-bottom: 1.9em;
				}
				
			}
			
		}
		
		.bottom {
			padding-top: 1.9em;
			
			p {
				margin-bottom: 1.25em;
			}
			
		}
		
	}
	
	.s6 {
		
		.heading-intro {
			padding-bottom: 3em;
		
			h2 {
				margin-bottom: .41em;
			}
		
		}
		
		.row.direction {
			@include media-breakpoint-up(md) {
				flex-direction: row-reverse;
			}
		}
		
		.img-wrap {
			margin-bottom: 40px;
			img {
				position: relative;
				@include media-breakpoint-up(md) {
					max-width: none;
					width: 52vw;
				}
			}
		}
		
		.text-wrap {
			.single-card {
				margin-bottom: .7em;
				
				h3 {
					line-height: 1;
					margin-bottom: 0.6em;
				}
				
			}
			
			.link-wrap {
				padding-top: 1.35em;
			}
			
		}
		
	}
	
}