.page-template-news-insights,
.single-post {
	
	main,
	aside {
		margin-top: 3.8rem;
	}
	
	main {
		
		article {
			margin-bottom: 2.25rem;
			
			a {
				color: $black;
				
				.img-wrap {
					margin-bottom: 1.35rem;
				}
				
				h2 {
					font-size: 2.5rem;
					line-height: 1.25;
					margin-bottom: .5em;
				}
				
			}
			
		&:first-child {
			margin-bottom: 3.1rem;
		}
			
		&:not(:first-child) {
			a h2 {
				font-size: 1.5rem;
				line-height: 1.416;
				letter-spacing: -.3px;
				margin-bottom: .4em;
			}
		}
			
		}
		
		.page-navigation {
		    padding-top: 1.6rem;
		}
		
	}
	
	aside.sidebar-wrap {
		.inner {
			max-width: 256px;
		}
		
		h3:not(.display) {
			color: $black;
		}
		
		.sidebar-element:not(:last-child) {
			margin-bottom: 3.65rem;
		}
		
		.search-wrap {
		    margin-bottom: 3.75rem;
		    
		    h3 {
			    margin-bottom: .8em;
		    }
		    
		}
				
		.cats-wrap {
			
			h3 {
				margin-bottom: 1.3rem;
			}
			
			div {
				margin: 1rem 0;
				
				a {
					font-weight: bold;
				}
			}
		}
		
	}
	
}

.single-post {
	
	.img-wrap {
    	margin-bottom: 6.4rem;
	}
	
	h1 {
		font-family: $font-family-base;
		font-size: 2.5rem;
		line-height: 1.25;
		text-transform: none;
		margin-bottom: 0.5em;
	}
	
	h2 {
		font-size: 2rem;
		line-height: 1.5625;
		margin: 1.25em 0 .65em;
	}
	
	footer.entry-footer {
		padding: 1.846rem;
		background-color: rgba(217, 217, 214, .25);
		display: flex;
	    justify-content: center;
	    align-items: center;
	    padding: 1.846rem;
		margin-top: 3.2rem;
	    
	    h3 {
		    font-size: 1.5rem;
		    color: $black;
		    display: inline-block;
		    margin: 0 .95rem 0 0;
	    }
	    
	    .social-links.a2a_kit.a2a_default_style {
			display: inline-flex;
			
			a {
				margin: .28rem;;
			}
			
		}
	    
	}
	
	#wrapper-footer {
    	margin-top: 3.95rem;
	}
	
}