.get-started-cta {
	margin-top: 7rem;
	margin-bottom: 2.8rem;
	padding-top: 2.7rem;
    padding-bottom: 3.15rem;
	
	.row.direction {
		@include media-breakpoint-up(md) {
			flex-direction: row-reverse;
		}
	}
	
	.img-wrap {
		img {
			position: relative;
			top: -75px;
		}
	}
	
}