.heading-shadow-cards {
	padding-top: 2.6em;
	
	@include media-breakpoint-up(md) {
		padding-top: 6em;
	}
	
	h2 {
		margin-bottom: 1.075em;
	}
	
	.check-list {
		
		.shadow-card {
			p {
				margin-bottom: .7em;
			}
			
			ul {
				margin-bottom: 1.9em;
			}
			
		}
		
	}
	
	.bottom {
		padding-top: 1.9em;
		
		p {
			margin-bottom: 1.25em;
		}
		
	}
}