.icons-text {
	padding-top: .9em;
	padding-bottom: 2.55em;
	
	@include media-breakpoint-up(md) {
		padding-top: .9em;
	}
	
	h3 {
		color: $black;
	}
	
	.it-card {
		margin-bottom: 40px;
		
		.icon-wrap {
			height: 100px;
			display: flex;
			justify-content: center;
			align-items: flex-end;
			margin-bottom: 1.4rem;
		}
		
		.label {
			font-size: 18px;
			line-height: 1.35;
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: .11px;
		}
		
		p {
			margin-bottom: 1.25em;
		}
		
	}

&.contact-404 {
	.it-card .label {
		padding-bottom: .6rem;
	}
}
	
}