.img-text {
	
	.img-wrap {
		margin-bottom: 42px;
		@include media-breakpoint-up(md) {
			margin-bottom: 0;
		}
	}
	
&.img-right {
	.row {
		@include media-breakpoint-up(md) {
			flex-direction: row-reverse;
		}
	}
}

&.pull-img-left,
&.pull-img-right {
	.img-wrap img {
		@include media-breakpoint-up(md) {
			max-width: none;
			width: 130%;
    	}
	}
}

&.pull-img-right {
	.img-wrap {
		img {
			@include media-breakpoint-up(md) {
				position: relative;				
			}
		}
	}
}

&.pull-img-left {
	.img-wrap {
		img {
			@include media-breakpoint-up(md) {
				position: relative;
				left: -30%;
			}
		}
	}
}

	.text-wrap {
		h2 {
			margin-bottom: .5em;
			@include media-breakpoint-up(md) {
				margin-bottom: .45em;
			}
		}		
	}
	
}