.jumbotron {
	padding: 6.15em 0 6.9em;
	border-radius: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	
	h1 {
		line-height: .833;
		text-transform: uppercase;
	}
	
}