#wrapper-navbar {
	
	.nav-link {
		color: $black;
	}
	
	.navbar.navbar-light {
		
		&.top-nav {
			
			> .container-fluid {
				justify-content: flex-end;	
			}
			
			#top-menu li {
				margin: 0 .55em;
			}
			
			#top-menu li a,
			.routing {
				font-size: 0.875rem;
				line-height: 1.71;
			}
			
			.routing {
				color: $secondary;
				font-weight: bold;
				margin: 0 2.4em;
			}
			
		}
		
		&.middle-nav {
			
			@include media-breakpoint-up(md) {
				border-top: 1px solid $gray;
				border-bottom: 1px solid $gray;
			}
			
			> .container-fluid {
				justify-content: space-between;
			}
		
			.nav-btn {
				&.outline-primary a {
					color: $primary;
				    background-color: $white;
				    border-color: $primary;
				}
				&.primary a {
					color: $white;
				    background-color: $primary;
				    border-color: $primary;
				    margin-left: 20px;
				}
			}
			
			button.mobile-nav-toggle {
				padding: 0;
				border: 0;
// 				background-color: transparent;
				width: 36px;
				height: 36px;
				position: relative;
				
				span {
					position: absolute;
					display: block;
					height: 4px;
					width: 38px;
					background-color: $primary;
				}
				
				.open-wrap,
				.close-wrap {
					position: absolute;
				    top: 0;
				    left: 0;
				    right: 0;
				    bottom: 0;
				    width: 100%;
				    height: 100%;
				    
				    span {
					    position: absolute;
// 					    left: 50%;
				    }
				    
				}
				
				.open-wrap {
				
					span {
						transform: translateX(0);
						transition: all .2s linear .21s; 
						
					&:nth-child(1) {
						top: 6px;
					}
	
					&:nth-child(2) {
						top: 16px;
					}
					
					&:nth-child(3) {
						top: 26px;
					}
						
					}
					
				}
				
				.close-wrap {
				    
				    span {
						top: 16px;
						width: 0;
						transition: all .2s linear;
					    
					    &:nth-child(1) {
						    transform: translateX(18px) rotate(45deg);
					    }

					    &:nth-child(2) {
						    transform: translateX(18px) rotate(-45deg);
					    }
					    
				    }
				    				
				}
				
			&[aria-expanded="true"] {
				.open-wrap span {
					width: 0;
					transform: translateX(18px);
					transition: all .2s linear;
				}
				
				.close-wrap {
					span {
						width: 38px;
						transition: all .2s linear .21s;
					    
					    &:nth-child(1) {
						    transform: translateX(0%) rotate(45deg);
					    }

					    &:nth-child(2) {
						    transform: translateX(0%) rotate(-45deg);
					    }
					    
				    }
				}
				
			}
				
			}
		
		}
		
		&.main-nav {
			position: relative;
			padding-bottom: 0;
			border-bottom: 1px solid $gray;
			ul {
				border: 0;
				border-radius: 0;	
				
				li {
					
				&:not(:last-child) {
					margin-right: 3em;
				}
					
					a {
						font-size: 1.125rem;
						font-weight: bold;
						line-height: 1.444;
						padding-bottom: 1rem;
					}					
				}
				
			&.no-subs.dropdown-menu {
				position: static;
				display: block;
			}
								
			}
			

			ul.header-bottom-nav {
				
				> li.menu-item-has-children.dropdown {
					position: static;
					
					a.dropdown-toggle {
						position: relative;
						&:after {
							border: 0;
							content: '';
						    position: absolute;
						    z-index: 1;
						    left: .25em;
						    right: .5em;
						    bottom: 0;
						    height: 6px;
						    background-color: transparent;
						}
					}
					
				&.show {
					a.dropdown-toggle:after {
						background-color: $primary;
					}
				}
    
					> ul.dropdown-menu {
						background-color: $white;
						flex-wrap: wrap;
						transform: translateY(-1px);
						left: 0;
						right: 0;
						width: 100%;
						max-width: 1180px;
						padding-top: 2.16rem;
						padding-bottom: 6.95rem;
					    padding-right: 20px;
					    padding-left: 20px;
					    margin-right: auto;
					    margin-left: auto;
					    
					&:before,
					&:after {
						content: '';
						background-color: $white;
						position: absolute;
						top: 0;
						bottom: 0;
						width: 50vw;
					}
					
					&:before {
						left: -50vw;
					}

					&:after {
						right: -50vw;
					}
												
					&.show {
						display: flex;
					}
					
						> li,
						> ul.no-subs.dropdown-menu {
							flex: 0 0 12.666%;
							width: 12.666%;
							white-space: normal;
						}
				
						li {
							
							a {
								
							&:hover {
								background-color: transparent;
							}
								
							}
							
						&.mega-parent {
							> a {
								color: $primary;
								padding: 0;
								margin-bottom: .6rem;
							}
							
							ul.dropdown-menu {
								display: block;
								position: static;
								
								> li {
									white-space: normal;
									
									 a {
										white-space: normal;
										font-size: 16px;
										font-weight: 400;
										padding: 0;
										margin-bottom: .6rem;
									}
									
								}	
								
							}
							
							
							
						}
							
						}
						
					}
				}

			}




						
		    .container {
			    display: block;
			}
			
			.mobile-nav {
				position: fixed;
			    z-index: 999;
			    top: 92px;
			    left: 0;
			    right: 0;
			    bottom: 0;
			    width: 100%;
			    height: 100%;
			    background: #fff;
			    
			    .search-wrap {
				    border-top: 1px solid $gray;
					border-bottom: 1px solid $gray;
			    
				    .container {
					    padding-top: 23px;
					    padding-bottom: 24px;
					
						form {
							border: 2px solid $gray;
							border-radius: 48px;
							width: 327px;
							margin: auto;
							overflow: hidden;
							display: flex;
							justify-content: space-between;
							
							input {
								border: 0;
								padding: 11px 0 11px 20px;
							}
							
						}
						
					}
					
			    }
			    
			    #mobile-navigation {
				    padding: 0.45em 0;
				    
				    ul {
					    li {
						    margin: 0.3em 0;
						    
						    a {
							    font-size: 1rem;
								display: flex;
								justify-content: space-between;
							    
							&.dropdown-toggle:after {
								border: 0;
								content: url(../images/mobile-chevron.svg);
							    display:block;
							    width:12px;
							    height:12px;
							}
							    
						    }
					    }
					    
					   &.dropdown-menu {
						   border: 0;
						   border-radius: 0;
					   }
					    
				    }
			    }
			    
			}
			
		}
		
/*
		.nav-link {
			color: $black;
		}
		
		.btn-primary a {
			color: $white;
		}
*/
			
	}

	
}