.recent-news-blogs {
	h2 {
		margin-bottom: .53em;
	}
	
	.blog-card {
		margin-bottom: 40px;
		
		a {
			color: $black;
		
		img {
			margin-bottom: 1.8em;
		}
	
		h3 {
			color: $black;
			margin-bottom: .5em
		}
		
		}	
	
	}
	
	.btn-wrap {
		padding-top: 1.15em;
	}
	
}