.tabbed-cards {
	padding-top: 2.5em;
	padding-bottom: 2.5em;
	
	@include media-breakpoint-up(md) {
		padding-top: 4.7em;
		padding-bottom: 5em;			
	}
	
	.tab-content {
		margin-bottom: 1.15em;
	
		.tab-card {
							
			.inner {
				.top {
					border-bottom: 4px solid $secondary;
					.name {
						font-size: 48px;
						font-weight: bold;
						text-transform: uppercase;
						line-height: .791;
						margin-bottom: .3em;
					}
					.details {
						letter-spacing: -.2px;
						margin-bottom: .9em;
					}
				}	
				.bottom {
					padding-top: .2em;
					
					.rate {
						font-family: $font-display;
						font-size: 80px;
						line-height: 1;
						font-weight: bold;
						color: $primary;
						padding-bottom: .23em;
						
						span {
							font-size: 50px
						}
						
						sup {
							position: relative;
						    top: -38px;
						    font-size: 26px;
						    font-weight: 400;
						    margin-left: 12px;
						}
						
					}
					
				}
			}
		}
		
	}
	
	.btn-wrap {
		padding-bottom: 1.25em;
	}
	
	.rate-expiration {
		color: $gray-text;	
	}
	
}
